<div class="banner" style="background-image: url('<%= @flat.img_url %>')"></div>

<div class="row" id="row-show">
  <div class="col-8">

    <div class="show-box">
      <h1><%= @flat.name %></h1>
      <p id="address"><%= @flat.address %></p>
    </div>

    <div class="show-box">
      <h2>A bit more about this flat...</h2>
      <p><%= @flat.description %></p>
    </div>

    </div>

    <div class="col-4">

    </div>
</div>
